.jumbotron {
  background-color: rgb(191, 197, 197);
  padding: 1rem;
}

ul {
  list-style-type: none;
}

#chord-entry {
  background: #e3e3e0;
  color: #000000;
  padding: 20px 20px;
  font-size: 1.5em;
}

#parse-entry {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.chord-transpo {
  height: fit-content;
}

.focus-ring:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn-cont {
  height: 300px;
}

.btn-sm {
  height: 1.7rem;
  width: 2rem;
  padding: 0;
  margin: 0;
}

#trash {
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  color: rgb(186, 23, 23);
}

#trash:hover {
  color: red;
  transition: all 0.2s;
}

#transpose-up,
#transpose-down {
  text-transform: uppercase;
  height: 6rem;
  font-size: 2rem;
}

#transposed-by {
  background-color: #4a5b6b;
  color: #f2f2f2;
  font-size: 1.5em;
  width: 3rem;
  line-height: 2rem;
  padding-bottom: 0.2rem;
  text-align: center;
}

#result {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.parsed-chord {
  font-weight: bold;
  text-decoration: underline;
  color: green;
  cursor: pointer;
}
